h3 {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

.product-card {
  position: relative;
  width: 210px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.product-card p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.product-card button {
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 6px;
}

.product-card button:hover {
  background-color: #005700;
}

.rating {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1;
}

.rating span {
  position: relative;
}

.star {
  display: inline-block;
}

.rating .full {
  color: #ffd700;
}

.rating .half,
.rating .empty {
  color: #ccc;
}

.rating .half::after {
  color: #ffd700;
}

.rating .half::after {
  content: "★";
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}
