.product-details {
  font-family: Arial, sans-serif;
  color: #333;
}

.tabs {
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  transition: border-color 0.3s;
}

.tab:hover {
  border-bottom: 2px solid #333;
}

.active {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.review-form textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.review-form button {
  padding: 10px 20px;
  background-color: var(--light-red);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.review-form button:hover {
  background-color: #a52a2a;
}
