h2{
  text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-cart-modal {
    position: absolute;
    top: 20vh;
    right: 1vh;
    bottom: 1vh;
    left: auto;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    z-index: 1000;
    width: 300px; /* Dostosuj szerokość modalu według potrzeb */
    max-height: 80vh; /* Dodano maksymalną wysokość modalu */
  }
  
  .cart-modal {
    text-align: left;
  }
  
  .cart-item-container {
    display: flex;
    margin-bottom: 15px;
    width: 93%; /* Ustaw szerokość na 100% */
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    width: 100%; /* Ustaw szerokość na 100% */
    border: 1px solid #ccc; /* Dodaj obramowanie */
    border-radius: 4px; /* Dodaj zaokrąglenie krawędzi */
    padding: 10px; /* Dodaj wewnętrzny odstęp */
  }

  .cart-item-name{
    font-weight: bold;
  }
  
  .cart-item-image {
    width: 120x;
    height: 120px;
    margin-right: 10px;
  }
  
  .cart-item-details {
    position: relative;
    flex-grow: 1;
    text-align: center;
  }
  
  .go-to-payment-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .go-to-payment-button {
    padding: 10px 20px;
    background-color: rgb(153, 39, 39);; /* Kolor przycisku */
    color: #fff; /* Kolor tekstu */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .go-to-payment-button:hover {
    background-color: rgb(67, 6, 7); /* Kolor przycisku po najechaniu myszą */
  }

  .cart-summary {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
  }
  
  .cart-summary p {
    margin: 5px 0;
  }

  .trash-icon{
    position: absolute;
    bottom: -5px;
    right: -5px;
    cursor: pointer;
    width: 20px;
  }