.login-form-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  margin-top: 50px;
  transition: background-color 0.3s ease;

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input:focus {
  outline: none;
  border-color: #8b0000;
}

.login-form button {
  padding: 10px;
  background-color: #8b0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-form button:hover {
  background-color: #a52a2a;
}

.login-button {
  padding: 10px;
  background-color: #8b0000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
}

.login-button:hover {
  background-color: #a52a2a;
}

.toggle-button {
  padding: 8px;
  color: var(--light-red);
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-icon {
  margin-right: 10px;
}

.login-input {
  width: 80%;
}
